.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .flex-item {
    padding: 0px;
    background-color: white;
    height: 220px;
  }

  .flex-item2 {
    padding: 0px;
    background-color: black;
    height: 220px;
  }
